---
layout: default
---

{% include home-header.html %} 

<h1>Projects</h1>
{% comment %} Check the type of archive {% endcomment %}
{%- assign projects = site.projects -%}

{% comment %} Calculate the max count of projects {% endcomment %}

{% comment %} Show posts by project {% endcomment %}
{%- for project in projects -%}
  <ul class="post-list-by-project">
  <li>
    <a href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
  </li>
  </ul>
{%- endfor -%}
<a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
